*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin-top: 25vh;
}

img{
    width: 25%;
    height: 50vh;
    padding: 0px 10px;
    transform: perspective(800px) rotateY(20deg);
    transform-origin: center;
    transition: .5s;
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey;
}
img:hover{
    transform: perspective(800px) rotateY(0deg);
}

/* parent to child property in order to target the child upon doing a particular action the parent would instruct the action upon the given property and the child should respond to it this could be usefull in cases where we want to UNDO an action */

.photo:hover img:not(:hover){
    opacity: .4;
}